[MESSAGES CONTROL]
[FORMAT]
disable = nonexistent-operator,global-variable-undefined,invalid-all-object,duplicate-argument-name,expression-not-assigned,parse-error,arguments-differ,invalid-sequence-index,invalid-slice-index,unbalanced-tuple-unpacking,fatal,cell-var-from-loop,assert-on-tuple,used-before-assignment,return-outside-function,useless-else-on-loop,method-check-failed,dangerous-default-value,no-self-argument,assignment-from-no-return,not-in-loop,astroid-error,unexpected-keyword-arg,no-value-for-parameter,undefined-loop-variable,not-an-iterable,syntax-error,catching-non-exception,too-many-nested-blocks,too-many-function-args,bad-open-mode,return-in-init,unreachable,invalid-unary-operand-type,redefined-argument-from-local,bad-except-order,redundant-keyword-arg,yield-outside-function,global-variable-not-assigned,assignment-from-none,continue-in-finally,repeated-keyword,access-member-before-definition,not-callable,duplicate-except,literal-comparison,not-context-manager,duplicate-key
enable = bad-space-indentation,function-name-too-long,line-too-long,low-comment-ratio,missing-license,unexpected-file-encoding,unexpected-line-ending-format,
